<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/style.css">
</head>
<body>
<form method="POST" action="/login">
<h2>Login</h2>
<input name="username" placeholder="Username" required />
<input name="password" type="password" placeholder="Password" required />
<button>Login</button>
<p>Having trouble? Contact contact212@gmail.com or call 0212021200</p>
</form>
</body>

</html>
